

.badge {
    align-self: auto;
    
}

#left {
    /* text-align: center; */
    padding-left: 100px;

}

body { 
    background: url("images/wave.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }
#badge {
    align-self: auto;
}
.ubh-jumbotron-heading-label {
  font-size: 50px;
  font-variant: small-caps;
  font-weight: 600;
  color: #000000;
  font-family: 'Acme', sans-serif;
}

.jumbotron hr {
    background-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}
.ubh-jumbotron-label {
  font-size: 1.10em;
  font-variant: small-caps;
  font-weight: 600;
  color: #000000;
}
.ubh-jumbotron-value {
    font-size: 1.2em;
    font-weight: 575;
    color: black;
}
#val {
background-color: rgb(121, 81, 6);
}